{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "rules": {
    "quotes": ["error", "double"],
    "linebreak-style": ["error", "unix"],
    "react/react-in-jsx-scope": "off",
    "no-console": "warn",
    "comma-dangle": ["warn", "never"],
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true
      }
    ]
  }
}
