@import "../../variables";
.userAuthPage {
  display: block;
  > * {
    height: 100%;
  }
  .authFormContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    header {
      display: flex;
      justify-content: space-between;
      flex-basis: 100%;
      padding-top: 20px;
      height: 50px;
      .pageActions {
        > * {
          font-family: Poppins;
          font-weight: 400;
          font-size: 12px;
          margin-left: 20px;
        }
      }
    }
  }
  .featureCarousel {
    display: none;
  }
}
@media #{$breakpoint-laptop} {
  .userAuthPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .authFormContainer {
      width: 60%;
      > h2 {
        display: none;
      }
      .authForm {
        margin: 0 10px;
      }
    }
    .featureCarousel {
      width: 40%;
      margin-right: -$page_margin;
      display: block;
      background-color: $accent;
    }
  }
}
