@import "../../variables";
.authForm {
  fieldset {
    border: none;
    font-size: 24px;
    width: 100%;
    text-align: center;
    legend {
      text-align: left;
      color: $accent;
    }
    .authFormInputGroup {
      width: 100%;
      margin-top: 35px;
      display: flex;
      flex-wrap: wrap;
      svg {
        width: 25px;
        height: 25px;
        transition: 0.3s ease-in-out;
      }
      input {
        width: 100%;
        flex: 1;
        letter-spacing: 2px;
        background-color: transparent;
        margin-left: 15px;
        border-bottom: 1px $faded_grey solid;
        font-weight: 300;
        font-size: 18px;
        &::placeholder {
          color: $faded_grey;
          letter-spacing: 0px;
        }
      }
      .authFormErrorMsg {
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        margin-top: 5px;
        color: red;
        text-align: left;
        padding-left: 40px;
        transition: 0.3s ease-in-out;
      }
    }
    .authFormForgotPwd,
    .authFormChangeLink {
      margin-top: 20px;
      text-align: right;
      font-size: initial;
      a {
        background-color: transparent;
        color: $accent;
        font-size: 14px;
        text-decoration: none;
        font-weight: 500;
      }
    }
    .authFormSubmitBtn,
    .authFormGuestBtn {
      width: 100%;
      padding: 15px 0;
      margin-top: 50px;
      border-radius: 10px;
      background-color: $accent;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      max-width: 500px;
      &:disabled {
        background-color: $faded_grey;
        color: #b4b4b4;
      }
    }
    .authFormSeparator {
      font-weight: 500;
      font-size: 16px;
      color: $faded_grey;
      margin-top: 30px;
      margin-bottom: -20px;
    }
    .authFormGuestBtn {
      border: 1px solid $faded_grey;
      background-color: rgb(246, 246, 246);
      color: $dark_grey;
    }
    .authFormChangeLink {
      text-align: center;
      padding-bottom: 30px;
      margin-top: 10px;
      a {
        color: #000;
        span {
          font-weight: inherit;
          color: $accent;
          margin-left: 3px;
        }
      }
    }
  }
}
@media #{$breakpoint-tablet} {
  .authForm {
    background-color: unset;
  }
}
