@import "../../variables";

.customCheckBox {
  background-color: transparent;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 2px solid $faded_grey;
    border-radius: 5px;
    transition: 0.2s;
    margin-right: 5px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
  span {
    color: $dark_grey;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
  .active {
    background-color: $accent;
    border-color: $accent;
  }
  div[disabled] {
    background-color: #ccc;
    border-color: #ccc;
  }
}
