$accent: #4058f2;
$accent2: #f240b5;
$faded_grey: rgba(104, 104, 104, 0.25);
$dark_grey: #686868;
$breakpoint-mobile: "(min-width: 481px)";
$breakpoint-tablet: "(min-width: 481px)";
$breakpoint-laptop: "(min-width: 769px)";
$breakpoint-desktop: "(min-width: 1025px)";
